@model IEnumerable<Course>


<nav id="sidebar" class="sidebar vh-100 overflow-auto">


    <ul class="nav flex-column gap-2 mt-5">
        @foreach (var course in Model)
        {
            var isActive = course.Id == ViewBag.SelectedCourseId ? "active" : "";

            <li class="nav-item">
                <a class="btn btn-outline-secondary border-0 d-flex @isActive" asp-route-id="@course.Id" asp-action="Index" asp-controller="Home" style="background-color: #f3ebe3; color: #5464ac;">
                    <span data-feather="home"></span>
                    @course.Name
                </a>
            </li>
        }
    </ul>
</nav>