@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

@Html.Partial("_Sidebar", Model.Courses)


<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">


        @foreach (var course in Model.Notes)
        {
            <div class="course">
                <h2>@course.Title</h2>
            </div>
        }
    </div>
</main>